#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #login-box {
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    font-size: 32px;
    color: rgb(0, 0, 139); /* sötétkék */
    text-align: center;
  }
  